

html,body,main {
  height:90%;
  width: auto;
  display: flex;
  flex-direction: column; }

body {
  background-color: #1E1E1E;
	min-width: 320px;
  width: 90%;
  margin: auto;
}

header img  {
	width: 90%;
}

section.loadingContent {
  color: white;
}

section.initialContent, section.searchContent, section.statsContent, section.loadingContent {
  margin: 20px 1%;
  color: #CCCCCC;
  background-color: #333333;
  border-style: solid;
  float: none;
  height: 90%;
  padding-bottom: 28px;
  text-align: center;
}

section.searchContent, section.statsContent, section.loadingContent {
  display: none;
  width: auto;
}

section.loadingContent {
  padding-top: 5%;
}


section.initialContent {
  display: block;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

form {
  float: none;
  margin: auto;
  Width:90%
}

input[type=text] {
  float: none;
  display: inline-block;
  text-align: left;
  width: 75%;
  margin: auto;
  padding-top: 14px;
  padding-bottom: 14px;
}

input[type=text] {
  border: 1px solid #ccc;
}

button {
    float: none;
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 15%;
    min-width: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.searchContent {
  width: 100%; /* Set a width if you like */
  display: block;
  background-color: #3e3e3e;
}

.searchContent ul {
  padding-left: 0;
  background: #212121;
  max-height: 90%;
  overflow-x: hidden;
}

.searchContent ul button {
  background-color: #1E1E1E;
  display: block; /* Make the links appear below each other */
  border: white;
  width: 100%;
  color: #CCCCCC;
  border-top-style: solid;
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.searchContent ul button:active {
  background-color: #1E1E1E;
}

.searchContent ul button:hover {
  background-color: black;
}



@media screen and (min-width: 1200px) {
  body {
  	width: 50%;
    margin: auto;
  }
}
