html, body, main {
  height: 90%;
  width: auto;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #1E1E1E;
  min-width: 320px;
  width: 90%;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

h2 {
  color: #6A9FC8;
}

h3 {
  text-align: left;
  padding-left: 3%;
  margin-left: 10px;
  margin-bottom: 0px;
}

header img {
  width: 90%;
  height: auto;
}

section.loadingContent {
  color: white;
}

section.initialContent p,
section.errorContent p {
  padding-left: 5%;
  padding-right: 5%;
}

section.initialContent,
section.searchContent,
section.statsContent,
section.errorContent,
section.loadingContent,
section.favouritesContent,
section.leaderboardContent {
  margin: 20px 1%;
  color: #CCCCCC;
  background-color: #2f3136;
  border-radius: 10px;
  float: none;
  height: 90%;
  overflow: scroll;
  padding-bottom: 28px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section.statsContent section {
  margin: 20px;
  color: #CCCCCC;
  background-color: #36393f;
  float: none;
  padding-bottom: 14px;
  border-radius: 10px;
  padding: 8px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section.statsContent section div {
  text-align: left;
  margin-left: 3%;
  padding: 10px;
}

section.statsContent section div p {
  display: inline;
}

section.statsContent section div u {
  display: block;
}

section.statsContent section div i.fa-arrow-circle-up,
section.statsContent section p.won {
  padding-left: 5px;
  color: #5a955a;
}

section.statsContent section p.top-ten {
  color: #6A9FC8;
}

section.statsContent section p.low {
  color: orange;
}

section.statsContent section div i.fa-arrow-circle-down {
  color: red;
}

section.searchContent,
section.statsContent,
section.loadingContent,
section.errorContent,
section.favouritesContent,
section.leaderboardContent {
  display: none;
  width: auto;
}

section.loadingContent {
  padding-top: 5%;
}

section.initialContent {
  display: block;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  animation: spin 2s linear infinite;
}

section.statsContent section div.loader {
  border-radius: 50%;
  margin: auto;
  width: 80px;
  height: 80px;
  display: block;
}

section.statsContent section.recentGame {
  font-size: 14px;
}

section.statsContent section.recentGame p {
  width: 25%;
  padding-right: 10px;
  font-weight: bold;
  margin-bottom: 0px;
}

section.statsContent section.recentGame p:nth-child(2) {
  width: 50%;
}

section.statsContent section.recentGame div {
  width: 100%;
  padding: 0px;
  padding-right: 15px;
  margin-left: 0%;
  padding-top: 5px;
}

section.statsContent section.recentGame div.recentGameStats,
section.statsContent section.recentGame div.recentGame {
  display: flex;
  padding-left: 5%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

section.statsContent section div.error {
  text-align: center;
}

section.statsContent section div.error h2 {
  color: red;
}

div {
  display: inline-block;
}

form {
  float: none;
  margin: auto;
  Width: 90%
}

input[type=text] {
  float: none;
  display: inline-block;
  text-align: left;
  width: 75%;
  margin: auto;
  padding-top: 14px;
  padding-bottom: 14px;
}

input[type=text] {
  border: 1px solid #ccc;
}

button {
  float: none;
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 15%;
  min-width: 30px;
  padding-top: 14px;
  padding-bottom: 14px;
}

#addFavouriteButton,
#removeFavouriteButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 45%;
  height: 60px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 10px;
}

#removeFavouriteButton {
  background-color: #851414;
  border-radius: 10px;
}

.searchContent,
.favouritesContent {
  width: 100%;
  display: block;
  background-color: #3e3e3e;
}

.searchContent ul,
.favouritesContent ul {
  padding-left: 0;
  max-height: 90%;
  overflow-x: hidden;
}

.searchContent ul button,
.favouritesContent ul button {
  background-color: #36393f;
  display: flex;
  border: white;
  width: 95%;
  color: #CCCCCC;
  padding: 12px;
  text-decoration: none;
  margin-bottom: 5px;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchContent ul button:hover,
.favouritesContent ul button:hover {
  background-color: #1e2024;
}

footer nav div p {
  margin: 0px;
}

table {
  border-spacing: 0;
  width: 95%;
  border: 1px solid #ddd;
  margin: 2.5%;
}

th, td {
  text-align: left;
  padding: 8px;
  width: 25%;
}

tr:nth-child(even) {
  background-color: #222222
}

footer nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: #CCCCCC;
  will-change: transform;
  transform: translateZ(0);
  display: flex;
  height: 50px;
  box-shadow: 0 -2px 5px -2px #626262;
  background-color: #2f3136;
}

footer nav div {
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  body {
    width: 50%;
    margin: auto;
  }

  footer nav {
    width: 50%;
    margin: auto;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
}
